h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  background: linear-gradient(180deg, #ddd, #111, #ddd);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
}

h3 {
  font-weight: normal;
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
}

li {
  font-size: 1.6rem;
}

a {
  transition: all 0.3s;
  border-radius: 8px;
}
a:hover {
  background: #ccc;
}
a:active {
  background: #aaa;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.sp-mode {
  display: none;
}
@media (max-width: 1000px) {
  .sp-mode {
    display: block;
  }
}

.pc-mode {
  display: block;
}
@media (max-width: 1000px) {
  .pc-mode {
    display: none;
  }
}

header {
  background: #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
header .container {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul {
  display: flex;
  gap: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(0, 0%, 60%, 0.9);
  opacity: 0;
  pointer-events: none;
  z-index: 3;
  transition: opacity 0.3s;
}
.overlay ul {
  text-align: center;
  margin-top: 4rem;
}
.overlay li {
  margin-top: 2rem;
}

#open {
  font-size: 2.8rem;
  cursor: pointer;
}

#close {
  font-size: 2.8rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.swiper {
  padding-top: 240px;
  max-width: 600px;
  margin: 0 auto;
  scroll-margin-top: 240px;
  margin-bottom: 60px;
}
.swiper .swiper-wrapper {
  transition-timing-function: linear;
}

#message,
#business,
#about,
#contact,
#faq-list {
  scroll-margin-top: 240px;
  box-shadow: 4px 4px 8px #aaa;
  padding: 2rem;
  margin-bottom: 60px;
  background: #eee;
}

.message .ceo-item {
  text-align: center;
  margin-bottom: 2rem;
}
.message .ceo-item .bi.bi-person-circle {
  font-size: 6rem;
}

.business {
  text-align: center;
}
.business li {
  margin-bottom: 1rem;
}
.business li:last-child {
  margin-bottom: 0;
}

.about table {
  font-size: 1.6rem;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}
.about td {
  border: 1px solid #111;
  text-align: center;
  padding: 1rem 0;
  width: 50%;
}

.contact .contact-item {
  margin-bottom: 1rem;
}
.contact label {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 0.4rem;
}
.contact input,
.contact select,
.contact textarea {
  font-size: 1.6rem;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
}
.contact textarea {
  height: 200px;
}
.contact button {
  font-size: 1.6rem;
  width: 100%;
  box-sizing: border-box;
  background: #111;
  color: #fff;
  cursor: pointer;
  padding: 1rem 0;
  transition: color 0.3s, background 0.3s;
}
.contact button:hover {
  background: #fff;
  color: #111;
}
.contact p {
  text-align: center;
  margin-bottom: 2rem;
}

.mode-change {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .mode-change {
    display: block;
  }
}

.faq-list .faq-item {
  margin-bottom: 2rem;
}
.faq-list .faq-item dt {
  font-size: 1.6rem;
  position: relative;
  cursor: pointer;
  background: #ccc;
  padding: 1rem 2rem 1rem 1rem;
  user-select: none;
  line-height: 1.6;
}
.faq-list .faq-item dt::before {
  content: "Q.";
}
.faq-list .faq-item dt::after {
  content: "+";
  position: absolute;
  right: 1rem;
  transition: transform 0.3s;
  top: 50%;
  transform: translateY(-50%);
}
.faq-list .faq-item dd {
  font-size: 1.6rem;
  padding: 1rem;
  background: #ccc;
  display: none;
  user-select: none;
  line-height: 1.6;
  border-top: 2px solid #eee;
}
.faq-list .faq-item dd::before {
  content: "A.";
}
.faq-list .faq-item.appear dt::after {
  transform: translateY(-50%) rotate(45deg);
}
.faq-list .faq-item.appear dd {
  display: block;
  opacity: 1;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
footer {
  background: #eee;
  padding: 2rem 0;
  text-align: center;
}
footer .sns-link {
  margin-bottom: 2rem;
}
footer .sns-link li {
  margin-bottom: 1rem;
}
footer a:hover {
  background: none;
}
footer img {
  width: 60px;
  transition: transform 0.3s;
}
footer img:hover {
  transform: scale(1.1);
}
footer small {
  font-size: 0.6rem;
}/*# sourceMappingURL=style.css.map */